@charset "UTF-8";
.orderBody{
    margin-left:300px;
    margin-right:300px;
}

#pay {
    text-align:center;
}

#productSide {
    flex:auto; 
    border: 1px solid black;
    border-radius:10px 10px 10px 10px;
    margin-bottom:20px;
    
    
}



.delivery{
    border-radius:10px 10px 10px 10px;
}

#productName {
    text-align:left; 
    font-weight:600;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:5px;
}

#productOption {
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.payDetail {
    display:flex;
}

.totalHr{
    height:2px; 
    background-color: grey;
}


#payDetailLayor{
    flex:80%; 
    margin-right:20px;
}

.payDetailLeft{
    flex:50%; 
    text-align:left;
}

.payDetailRight{
    flex:50%; 
    text-align:right
}


.order_btn > input {
    background-color:black;
    text-align: center;
    color:white;
    font-size:xx-large;
    font-weight:bold;
	cursor:pointer;
}






