@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Merriweather:wght@900&display=swap');
*{

    font-weight:bold;
}

.product-list{
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
.products h3{
    font-size: 24px;
    color: #545454;
    margin-top:60px;
    margin-bottom: 60px;
    text-align: center;
}

.product{
    display: inline-block;
    width: 225px;
    text-align: center;
    text-decoration:none;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.product-name{
    margin-top: 20px;
    margin-bottom: 4px;
}