@charset "UTF-8";
/*GLOBALS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

menubar > ul, li {
    list-style: none;
}

.header_link {
    text-decoration: none;
}

.login {
    float: right;
    margin-right: 20px;
}

.menu {
    font-family: fantasy;
    float: right;
    display: flex;
    width: 100%;
    overflow: hidden;
    margin: auto;
}

.menu > li {
    width: 40%;
    /*20*2=40%*/
    float: left;
    text-align: center;
    line-height: 50px;
    /*background-color: beige;*/
}

.menu a {
    color: sienna;
}

.submenu>li {
    line-height: 50px;
    background-color: azure;
}

.submenu {
    height: 0;
    /*ul의 높이를 안보이게 처리*/
    overflow: hidden;

}

.menu>li:hover {
    background-color: skyblue;
    transition-duration: 0.5s;
}

.menu>li:hover .submenu {
    height: 100px;
    /*서브메뉴 li한개의 높이 50*2*/
    transition-duration: 0.5s;
    background-color: white;
}

/*푸터*/

.layout_footer {
    position: relative;
    transform: translateY(90%);
}

.sns {
    margin: 0.5%;
    margin-top: 1%;
    width: 50px;
    height: 50px;
}

.copy_left {
    margin-top: 100px;
    font-size: 5px;
    float: left;
}

.copy_right {
    font-size: 8px;
    float: right;
    margin-top: 100px;
    font-size: 5px;
}

/*상품 관리 리스트 페이지*/
.admin_right{
    width:100%;
    float: right;
    height: 100%;
}

/* (관리자) 관리 페이지 */
.table{
    max-width:1200px;
    max-height: 700px;
    margin:3%;
    border: 1px solid black;
}
th{background-color: skyblue; color:white;}
tr, td, th{
    text-align: center;
    border: 1px solid gray;
    width:300px;
    height: 30px;
}

.writebtn {
    margin: 3%;
    float: right;
    width: 10%;
    height: 40px;
}

.right_bottom > .btn{
    margin:3%;
    float: right;
    width: 30%;
    height: 40px;
    background-color: yellowgreen;
    color:black;
}
.btn{
    border: 1px solid skyblue;
    background-color: rgba(0,0,0,0);
    color:skyblue;
    padding:3px;
    border-radius:5px;
    cursor: pointer;
}
.btn:hover{
    color:white;
    background-color: skyblue;
    transition-duration: 0.2s;
}